:root {
  --primarycolor: #0A76D8;
  --primarycolorhover: #006dd3;
  --btnice:#D8EBFA;
  --btnnicetext:#1b62b3;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f7f9fd;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #c1c1c1; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8; 
}

.edoc-header {
  background: linear-gradient(120deg, #e0f2fe 0%, #bae6fd 100%);
  padding: 40px 30px;
  border-radius: 12px;
  margin-bottom: 24px;
  color: #0c4a6e;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.btn-soft {
  background-color: #D8EBFA !important;
  color: #1969AA !important;
  box-shadow: none !important;
  font-weight: 600 !important;
  transition: all 0.3s !important;
}

.btn-soft:hover {
  background-color: #0A76D8 !important;
  color: white !important;
  box-shadow: 0 3px 5px 0 rgba(57,108,240,0.3) !important;
}

/* Table styling fixes */
.MuiTableHead-root .MuiTableCell-root {
  border-bottom: 2px solid #0A76D8 !important;
  font-weight: 600 !important;
  font-size: 15px;
}
